version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
      time: "04:00"
      timezone: "UTC"
    open-pull-requests-limit: 20
    labels:
      - "dependencies"
      - "security"
    allow:
      - dependency-type: "all"
    versioning-strategy: "increase-if-necessary"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "04:30"
      timezone: "UTC"
    open-pull-requests-limit: 20
    labels:
      - "dependencies"
      - "security"
